// Header

header.page, footer.page {
    color: map-get($colors, fg-2);
    background-color: map-get($colors, bg-2);
    @include bp(mobileonly) {
        h1, h5 {
            font-size: map-get($fsizes, font);
            margin: 0.1rem 0;
        }
    }

    a {
        color: map-get($colors, link-2);
        &:visited {
            color: map-get($colors, link-visited-2);
        }
    }

    @include bp {
        li {
            line-height: 1;
            margin: 0.25rem 1rem;
        }
    }

    @include bp(tablet) {
        h1 { margin: 0.5rem 0; }

        li {
            display: inline;
            margin: 0.25rem 0.25rem;
        }
    }
}
