// Page element specific font and type settings

html, body {
    height: 100%;
}

body {
    background-color: map-get($colors, bg);
    display: flex;
    flex-direction: column;
}


// Header, footer

header.page, footer.page {
    background-color: map-get($colors, bg-2);
    z-index: 10;

    @include bp {
        width: 97.5vw;
        margin: 0;
        padding: 2vh 0 2vh 2.5vw;
    }
    @include bp(tablet) {
        width: 100vw;
        margin: 0;
        padding: 2vh 0 2vh 2.5vw;
    }
    @include bp(laptop) {
        width: 80vw;
        padding: 4vh 5vw;
        margin: 0;
    }
    @include bp(desktop) {
        width: 80vw;
        padding: 5vh 10vw;
        margin: 0;
    }
}

header.page {
    top: 0;
}

section.content {
    z-index: 0;

    @include bpset-length;
    @include bpset-length(tablet) {
        padding-top: 1.5vh;
    }
    @include bpset-length(laptop);
    @include bpset-length(desktop);
    flex: 1 0 auto;
}

footer.page {
    flex-shrink: 0;
}

// Line spans
span.line {
  display: inline-block;
}
