<header class="page">
    <h1 class="title">
        {{ if .IsHome }}
        <span class="line">{{ .Site.Title }}</span>
        {{ else }}
        <span class="line">{{ .Site.Title }} — </span>
        <span class="line">{{ .Title }}</span>
        {{ end }}
    </h1>
    <div id="nav-border" class="container">
        <nav id="nav" class="nav justify-content-center" aria-label="navigation menu">
            {{ range .Site.Menus.main }}
            <li role="none">
                <a role="menuitem"
                   aria-haspopup="false"
                   href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </nav>
    </div>
</header>
